$colorPrimary: #313237;
$colorSecondary: #89939a;
$colorLight: #fafbfc;
$colorElements: #e2e6e9;
$colorWhite: #fff;
$colorIcons: #b4bdc3;
$colorRed: #dc3545;

$transition-duration: 300ms;

$columnsMobile: 2;
$columnsTablet: 12;
$columnsDesktop: 24;
$gapGrid: 16px;