.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  width: 200px;
  border: 2px solid $colorPrimary;
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  text-transform: capitalize;

  transition: all $transition-duration;

  &--primary {
    color: $colorLight;
    border-color: $colorPrimary;
    background-color: $colorPrimary;
  }

  &--secondary {
    color: $colorPrimary;
    font-weight: 500;
    border: 1px solid $colorPrimary;

    @include onTablet {
      width: 100%;
    }
  }

  &:hover {
    color: $colorLight;
    border-color: $colorPrimary;
    background-color: $colorPrimary;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}
